//
@import "partials/variables";
@import "partials/common";
@import "partials/footer";
@import "partials/mainDetail";
@import "partials/header";



//$ Card

.card-element {
    width: calc(100% / 7);
    margin: 0.5rem;

    img {
        width: 100%;
    }

    h3 {
        padding: 0.3rem;
        color: white;
    }
}

//$ Icon

.bg-primary {
    background-color: $brandColor;
}

#Icons-dc {
    height: 100px;
    justify-content: space-evenly;

    div {
        height: 50%;
    }

    img {
        height: 100%;
    }

    span {
        color: white;
        padding: 1rem;
        text-transform: uppercase;
    }
}

#Icons-dc,
.mini-card {
    display: flex;
    align-items: center;
}
