//
@import "partials/variables";
@import "partials/common";


//$ Header

section#head,
section#head div,
section#head ul,
section#head li {
    display: flex;
}

section#head,
section#head div {
    align-items: center;
}

section#head {
    height: 100px;
    justify-content: space-between;

    div {
        height: 100%;
        margin-left: 1rem;

        img {
            width: 80%;
            min-width: 80px;
        }
    }

    ul {
        height: 100%;
        margin-right: 1rem;
        align-content: center;

        li {
            list-style-type: none;
            margin: 0 0.5rem;
            border-bottom: 2px solid transparent;
            line-height: 100px;

            &:hover,
            &.active {
                border-bottom: 2px solid $brandColor;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: black;

                &:hover,
                &.active {
                    color: $brandColor;
                }
            }
        }
    }
}

//$ main

.jumbo {
    height: 400px;
    background-image: url('/img/jumbotron.jpg');
    background-repeat: no-repeat;
}

.ms-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    .align-center {
        text-align: center;
    }

}

//$ main and detail

#container {
    position: relative;

    .text-white {
        color: white;
    }

    .bg-dark {
        background-color: black;
    }

    .bg-white {
        background-color: none;
    }

    .color-blue {
        background-color: $brandColor;
        height: 100px;
    }

    h1,
    div.ms-image {
        position: absolute;
        top: 0;
        left: 50px;
        background-color: $brandColor;

    }

    h1 {
        transform: translate(100%, -50%);
        padding: 0.5rem;
    }

    .ms-image {
        transform: translate(100%, -70%);
        border: 1px solid white;
    }

    span.label,
    p.label {
        color: white;
        text-transform: uppercase;
        background-color: lightskyblue;
    }

    span.label {
        top: 0;
        position: absolute;
    }

    p.label {
        text-align: center;
    }

    .info {
        display: flex;

        .info-text {
            width: 70%;
            padding: 1rem;

            .info-price {
                background-color: forestgreen;
                padding: 0.5rem 0.3rem;
                display: flex;
                justify-content: space-between;

                span.price {
                    color: lightgrey;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    h2 {
        text-transform: uppercase;
    }
}

//$ Card

.card-element {
    width: calc(100% / 7);
    margin: 0.5rem;

    img {
        width: 100%;
    }

    h3 {
        padding: 0.3rem;
        color: white;
    }
}

//$ detail


#my-detail {
    background-color: rgb(235, 234, 229);

    .d-flex {
        display: flex;
    }

    h4 {
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
    }

    #Icons-dc-detail {
        color: gray;
    }

    .partial-info {
        width: 50%;
        padding-left: 1rem;

        div.info-name {
            display: flex;
            justify-content: space-between;

            .font-artist,
            .info-specs {
                width: 70%;
                border-bottom: 1px solid gray;
                padding: .5rem 0;
            }

            .text-blue {
                color: #0282f9;
            }

            .title-name {
                width: 30%;
                border-bottom: 1px solid gray;
                padding: .5rem 0;
            }
        }
    }


}

//$ Icon

.bg-primary {
    background-color: $brandColor;
}

#Icons-dc {
    height: 100px;
    justify-content: space-evenly;

    div {
        height: 50%;
    }

    img {
        height: 100%;
    }

    span {
        color: white;
        padding: 1rem;
        text-transform: uppercase;
    }
}

#Icons-dc,
.mini-card {
    display: flex;
    align-items: center;
}

//$ footer

#dc-footer {
    height: 400px;
    background-image: url('/img/footer-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .footer-list {
        display: flex;
        justify-content: flex-start;
        background-image: url('/img/dc-logo-bg.png');
        background-position: right center;
        background-repeat: no-repeat;
        font-size: 12px;

        ul {
            padding: 1rem 1rem;

            li {
                color: gray;
                list-style-type: none;
                padding: 0.2rem 0;
            }

            h4 {
                color: white;
                padding: 0.5rem 0;
                text-transform: uppercase;
            }
        }

        .list-shop {
            padding-bottom: 3rem;
        }
    }
}

.bg-dark {
    background-color: #303030;
}

#footer-bottom {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        color: white;
        text-transform: uppercase;
        background-color: #303030;
        border: 1px solid $brandColor;
        padding: 1rem;
        margin-left: 1rem;
    }

    .follow {
        display: flex;

        h3 {
            color: $brandColor;
            padding-top: 1rem;
            padding-right: 1rem;
            text-transform: uppercase;
        }

        img {
            padding: 0.5rem;
        }
    }
}
