//
@import "partials/variables";
@import "partials/common";


//$ Header

section#head,
section#head div,
section#head ul,
section#head li {
    display: flex;
}

section#head,
section#head div {
    align-items: center;
}

section#head {
    height: 100px;
    justify-content: space-between;

    div {
        height: 100%;
        margin-left: 1rem;

        img {
            width: 80%;
            min-width: 80px;
        }
    }

    ul {
        height: 100%;
        margin-right: 1rem;
        align-content: center;

        li {
            list-style-type: none;
            margin: 0 0.5rem;
            border-bottom: 2px solid transparent;
            line-height: 100px;

            &:hover,
            &.active {
                border-bottom: 2px solid $brandColor;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: black;

                &:hover,
                &.active {
                    color: $brandColor;
                }
            }
        }
    }
}

//$ main

.jumbo {
    height: 400px;
    background-image: url('/img/jumbotron.jpg');
    background-repeat: no-repeat;
}

.ms-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    text-align: center;
}

#container {
    position: relative;
    background-color: black;
    color: white;

    h1 {
        position: absolute;
        top: 0;
        left: 50px;
        transform: translate(100%, -50%);
        background-color: $brandColor;
        padding: 0.5rem;
        color: white;
    }
}

//$ Card

.card-element {
    width: calc(100% / 7);
    margin: 0.5rem;

    img {
        width: 100%;
    }

    h3 {
        padding: 0.3rem;
        color: white;
    }
}

//$ Icon

.bg-primary {
    background-color: $brandColor;
}

#Icons-dc {
    height: 100px;
    justify-content: space-evenly;

    div {
        height: 50%;
    }

    img {
        height: 100%;
    }

    span {
        color: white;
        padding: 1rem;
        text-transform: uppercase;
    }
}

#Icons-dc,
.mini-card {
    display: flex;
    align-items: center;
}

//$ footer

#dc-footer {
    height: 400px;
    background-image: url('/img/footer-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .footer-list {
        display: flex;
        justify-content: flex-start;
        background-image: url('/img/dc-logo-bg.png');
        background-size: no-repeat;
        background-position: right center;
        background-repeat: no-repeat;

        ul {
            padding: 1rem 1rem;

            li {
                color: gray;
                list-style-type: none;
                padding: 0.2rem 0;
            }

            h4 {
                color: white;
                padding: 0.5rem 0;
                text-transform: uppercase;
            }
        }

        .list-shop {
            padding-bottom: 3rem;
        }
    }
}

.bg-dark {
    background-color: #303030;
}

#footer-bottom {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        color: white;
        text-transform: uppercase;
        background-color: #303030;
        border: 1px solid $brandColor;
        padding: 1rem;
        margin-left: 1rem;
    }

    .follow {
        display: flex;

        h3 {
            color: $brandColor;
            padding-top: 1rem;
            padding-right: 1rem;
            text-transform: uppercase;
        }

        img {
            padding: 0.5rem;
        }
    }
}
