* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my-container {
  margin: 0 auto;
  width: 80%;
}

section#head,
section#head div,
section#head ul,
section#head li {
  display: flex;
}

section#head,
section#head div {
  align-items: center;
}

section#head {
  height: 100px;
  justify-content: space-between;
}
section#head div {
  height: 100%;
  margin-left: 1rem;
}
section#head div img {
  width: 80%;
  min-width: 80px;
}
section#head ul {
  height: 100%;
  margin-right: 1rem;
  align-content: center;
}
section#head ul li {
  list-style-type: none;
  margin: 0 0.5rem;
  border-bottom: 2px solid transparent;
  line-height: 100px;
}
section#head ul li:hover, section#head ul li.active {
  border-bottom: 2px solid #0282f9;
}
section#head ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
section#head ul li a:hover, section#head ul li a.active {
  color: #0282f9;
}

.jumbo {
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
}

.ms-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.ms-container .align-center {
  text-align: center;
}

#container {
  position: relative;
}
#container .text-white {
  color: white;
}
#container .bg-dark {
  background-color: black;
}
#container .bg-white {
  background-color: none;
}
#container .color-blue {
  background-color: #0282f9;
  height: 100px;
}
#container h1,
#container div.ms-image {
  position: absolute;
  top: 0;
  left: 50px;
  background-color: #0282f9;
}
#container h1 {
  transform: translate(100%, -50%);
  padding: 0.5rem;
}
#container .ms-image {
  transform: translate(100%, -70%);
  border: 1px solid white;
}
#container span.label,
#container p.label {
  color: white;
  text-transform: uppercase;
  background-color: lightskyblue;
}
#container span.label {
  top: 0;
  position: absolute;
}
#container p.label {
  text-align: center;
}
#container .info {
  display: flex;
}
#container .info .info-text {
  width: 70%;
  padding: 1rem;
}
#container .info .info-text .info-price {
  background-color: forestgreen;
  padding: 0.5rem 0.3rem;
  display: flex;
  justify-content: space-between;
}
#container .info .info-text .info-price span.price {
  color: lightgrey;
}
#container .info .info-text .info-price span.price a {
  color: white;
  text-decoration: none;
}
#container h2 {
  text-transform: uppercase;
}

.card-element {
  width: 14.2857142857%;
  margin: 0.5rem;
}
.card-element img {
  width: 100%;
}
.card-element h3 {
  padding: 0.3rem;
  color: white;
}

#my-detail {
  background-color: rgb(235, 234, 229);
}
#my-detail .d-flex {
  display: flex;
}
#my-detail h4 {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}
#my-detail #Icons-dc-detail {
  color: gray;
}
#my-detail .partial-info {
  width: 50%;
  padding-left: 1rem;
}
#my-detail .partial-info div.info-name {
  display: flex;
  justify-content: space-between;
}
#my-detail .partial-info div.info-name .font-artist,
#my-detail .partial-info div.info-name .info-specs {
  width: 70%;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
}
#my-detail .partial-info div.info-name .text-blue {
  color: #0282f9;
}
#my-detail .partial-info div.info-name .title-name {
  width: 30%;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
}

.bg-primary {
  background-color: #0282f9;
}

#Icons-dc {
  height: 100px;
  justify-content: space-evenly;
}
#Icons-dc div {
  height: 50%;
}
#Icons-dc img {
  height: 100%;
}
#Icons-dc span {
  color: white;
  padding: 1rem;
  text-transform: uppercase;
}

#Icons-dc,
.mini-card {
  display: flex;
  align-items: center;
}

#dc-footer {
  height: 400px;
  background-image: url("/img/footer-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#dc-footer .footer-list {
  display: flex;
  justify-content: flex-start;
  background-image: url("/img/dc-logo-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 12px;
}
#dc-footer .footer-list ul {
  padding: 1rem 1rem;
}
#dc-footer .footer-list ul li {
  color: gray;
  list-style-type: none;
  padding: 0.2rem 0;
}
#dc-footer .footer-list ul h4 {
  color: white;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
#dc-footer .footer-list .list-shop {
  padding-bottom: 3rem;
}

.bg-dark {
  background-color: #303030;
}

#footer-bottom {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-bottom button {
  color: white;
  text-transform: uppercase;
  background-color: #303030;
  border: 1px solid #0282f9;
  padding: 1rem;
  margin-left: 1rem;
}
#footer-bottom .follow {
  display: flex;
}
#footer-bottom .follow h3 {
  color: #0282f9;
  padding-top: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
}
#footer-bottom .follow img {
  padding: 0.5rem;
}