section#head,
section#head div,
section#head ul,
section#head li {
    display: flex;
}

section#head,
section#head div {
    align-items: center;
}

section#head {
    height: 100px;
    justify-content: space-between;

    div {
        height: 100%;
        margin-left: 1rem;

        img {
            width: 80%;
            min-width: 80px;
        }
    }

    ul {
        height: 100%;
        margin-right: 1rem;
        align-content: center;

        li {
            list-style-type: none;
            margin: 0 0.5rem;
            border-bottom: 2px solid transparent;
            line-height: 100px;

            &:hover,
            &.active {
                border-bottom: 2px solid $brandColor;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: black;

                &:hover,
                &.active {
                    color: $brandColor;
                }
            }
        }
    }
}
